.footer_copyright{
    color: #545454;
    font-family: 'Inter', arial, sans-serif;
    font-size: 18px;
    font-weight: 400;
    margin-top: 67px;
    margin-bottom: 60px;
}

@media screen and (max-width:480px){
    .footer_copyright{
        margin: 48px 19px 36px 19px;
        font-size: 14px;
    }
}